/* SeedSans Font Faces */
@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-Light-subset.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-LightItalic-subset.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-Regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-RegularItalic-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-Medium-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Seed Sans";
  src: url("/fonts/SeedSans-MediumItalic-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-journey-light: #efefea;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
}

html,
body {
  color: var(--text-primary);
  background: var(--container-lightest);
  scroll-behavior: smooth;
}

html,
body,
button,
input {
  font: normal 1rem / 1.5 var(--typography-font-brand);
}

li {
  list-style: none;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: transparent !important;
  cursor: pointer;
}

input,
select,
textarea,
button {
  border: none;
  background: none;
}

:focus-visible {
  outline: 0.125rem solid var(--actions-primary) !important;
  outline-offset: 0.125rem;
}
